/* Dropdown menu styling */
* {
  box-sizing: border-box;
}
#filterDiv {
    width: 25%;
  }
  .dropdown-content {
    height: 100px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
  }

  /* Table Styling */
  /* Modelled on video here: https://www.youtube.com/watch?v=czZ1PvNW5hk&t=1210s&ab_channel=KevinPowell */

  #senTable {
    width: 80%;
    text-align: center;
    margin: 0;
    padding-left: 10%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: black;
  }

  th,
  td {
    text-align: left;
    padding: 1rem;
  }

  td.button {
    padding-top: 1rem;
    vertical-align: middle;
  }

  tr {
    background-color: hsl(0 0% 0% / 0.3);
    text-align: left;
  }

  tr:nth-child(2n) {
    background-color: hsl(0 0% 0% / 0.2);
  }

  button {
    text-align: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col_"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
/* Top header */
.top_header{
  text-align: center;
  color: blue;
}

/* Number senators header */
.number_senators_header{
  text-align: center;
  color: blue;
}

.parties_Republican{
  float: left;
  padding: 5px;
  border: 1px solid red;
  background-image: linear-gradient(to bottom, red 100%, white 100%), linear-gradient(to bottom, white 0%, white 100%);
  background-clip: content-box, padding-box;
  color: white;
  text-align: center;
  line-height: 4.5em;
  height: 5em;
}

.parties_Democrat{
  float: left;
  padding: 5px;
  border: 1px solid red;
  background-image: linear-gradient(to bottom, blue 0%, white 100%), linear-gradient(to bottom, white 0%, white 100%);
  background-clip: content-box, padding-box;
  color: white;
  text-align: center;
  line-height: 4.5em;
  height: 5em;
}

.parties_Independent{
  float: left;
  padding: 5px;
  border: 1px solid red;
  background-image: linear-gradient(to bottom, yellow 0%, white 100%), linear-gradient(to bottom, white 0%, white 100%);
  background-clip: content-box, padding-box;
  color: black;
  text-align: center;
  line-height: 4.5em;
  height: 5em;
}


  @media only screen and (min-width: 100px) {
    /* For desktop: */
    .col_1 {width: 8.33%;}
    .col_2 {width: 16.66%;}
    .col_3 {width: 25%;}
    .col_4 {width: 33.33%;}
    .col_5 {width: 41.66%;}
    .col_6 {width: 50%;}
    .col_7 {width: 58.33%;}
    .col_8 {width: 66.66%;}
    .col_9 {width: 75%;}
    .col_10 {width: 83.33%;}
    .col_11 {width: 91.66%;}
    .col_12 {width: 100%;}
  }